# Requirements for auth
JWT_SECRET=fiajenriue48r4787ruarwen8ace8e743878587%UHUHBf743rf789b4yr73iy4gf7cretstdygrhfyeukrftg
HASH_ALGORITHM=HS256

# DB
DB_URL=

# Expiry time of the jwt token
TOKEN_EXPIRY_TIME=60

# Email details for otp verification
EMAIL_ADDRESS=
EMAIL_PASSWORD=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# For logging in
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
